doctype
html(lang='en')
	//<![end if]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title=title
		meta(name="description", content=description)
		meta(name="author", content=author)
		meta(name="viewport", content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/css/style.css')
		//-script(src='js/libs/modernizr-2.0.6.min.js')
	body
		header
			block header
				h1
					a(href='/') Script runner
				if jobs
					ul.menu.menu-horizontal
						each job, key in jobs
							li
								a(href='/'+key)
									span.title= job.name
									if job.description
										span.description= job.description

		#content
			block content

		footer
			block footer

		block script
			script(type='text/javascript',src='/js/retina-1.3.0/retina.min.js')
			script(type='text/javascript').
				var clicky_site_ids = clicky_site_ids || [];
				clicky_site_ids.push(100771357);
				(function() {
					var s = document.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = '//static.getclicky.com/js';
					( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
				})();
